Source: pygarmin
Section: python
Priority: optional
Maintainer: James A. H. Skillen <jahs@jahs.net>
Build-Depends-Indep: debhelper (>= 4.1.25), cdbs, python-dev (>= 2.3)
Standards-Version: 3.6.0

Package: pygarmin
Architecture: all
Depends: ${python:Depends}
Description: Python Interface to Garmin GPS Equipment
 PyGarmin is a set of Python classes which implement the protocol used by
 Garmin GPS receivers to talk to each other and to other machines. It is based
 on the official protocol specification. Also included are some map datum
 manipulation classes.
